* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {   
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    color: white;
}

.btn {
font-size: 1.3rem; 
text-decoration: none;
box-shadow: 2px 2px #bf360c;
}

.btn:hover {
    background-color: #fbc02d;
}

.page-header {
    color: #bf360c;
    font-family: 'TypoPRO Bukhari Script';
}


aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #FFCCBC;
    width: 15%;
    min-height: 100%;
    z-index: 1;
  }

@media screen and (max-width: 550px){
    aside {
        background-color: white;
    }
}
  
aside img {
    position: relative;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

aside p {
    position: relative;
    bottom: 10px;
    margin-left: 2em;
    font-style: italic;
    font-size: calc(10px + 10%);

}

aside ul {
    position: relative;
    line-height: 100px;
}

aside ul li {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    position: relative;
    padding: 0;
    margin-top: 4%;
}

aside ul li.active {
background-color: rgba(0, 0, 0, 0.1);
}

aside ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: calc(1rem + 1vw);
    color: #000;
    text-shadow: 1px 1px #FF6E40;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

aside ul a:hover {
background-color: rgba(0, 0, 0, 0.1);
}

#main {
    position: absolute;
    flex: row wrap;
    height: 100%;
    background-size: cover;
    background: linear-gradient(#ffb300, #ef6c00, #bf360c);
    background-repeat: no-repeat;
    overflow: scroll;
    right: 0;
    width: 85%;
}

#main-index {
    position: absolute;
    height: 100%;
    background-size: cover;
    background: linear-gradient(#ffb300, #ef6c00, #bf360c);
    background-repeat: no-repeat;
    overflow: scroll;
    padding-top: 10%;
    right: 0;
    width: 100%;
    padding-left: 20%;
}

#start-btn {
    color: #bf360c;
}

span{
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(45, 170, 158);
}

p{
    color: white;
}



/* Trip Page */

#trip-main {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background: linear-gradient(#ffb300, #ef6c00, #bf360c);
    background-repeat: no-repeat;
    overflow: scroll;
    right: 0;
    width: 85%;
    gap: 2vw;
}

#trip-description {
    margin: 2%;
    display: flex;
    flex-basis: 95%;
    
    justify-content: space-between;
    align-items: flex-end;
}

    #save-btn {
        display: inline-block;
        margin-bottom: 10px;
        height: 2em;
        background-color: #fbc02d;
        color: #6c1b02;
    }

    #save-btn:hover {
        background-color: #ffb300;
    }

#tempmapdiv {
    width: 50vw;
    flex-basis: 50vw;
    aspect-ratio: 3 / 2;
}


#weatherContainer{
    display: block; 
    border: 5px solid white;
    border-radius: 10px;
 }
    #weatherContainer h3 {
        text-align: center;
    }
 
    #iconsContainer{
        display: flex;
        width: 30vw;
        flex-direction: row;
        flex-wrap: wrap;
        float: right;
        border-radius: 10px;
    }
    
    .icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;
        justify-content: center;
        flex: 1 0 50%;

    }
        .image{
            height: 100px;
        }
        .imgClass{
            height: 100px;
        }
        .weather{
            border-radius: 5px;
            text-align: center;
            font-size: 1.5em;
        }
        .minValues{
            text-align: center;
            border-radius: 5px;
            height: 25px;
            width: 85px;
        }
        .maxValues{
            text-align: center;
            border-radius: 5px;
            height: 25px;
            width: 85px;
        }

 /*table in saved trips style*/

table{
    text-transform: capitalize;
}